
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-secondary text-white flex items-center justify-center min-h-screen;
}

button {
  @apply px-4 py-2 rounded-lg font-semibold;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-blue-700;
}

.btn-danger {
  @apply bg-danger text-white hover:bg-red-700;
}




@media print {
  button, .no-print {
    display: none !important;
  }

  body {
    font-size: 12px; /* Tamaño de fuente pequeño */
    font-family: Arial, sans-serif;
  }

  .print-container {
    width: 80mm; /* Ajustar al ancho de un recibo térmico */
    margin: auto;
  }

  h1, h2 {
    font-size: 14px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 5px;
    text-align: left;
  }
}
